body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(150deg, #571216 -50%, #000000 100%);

}


.logo {
    background-color: transparent;
    padding: 15px 15px;
}

.logo img {
    width: 160px;
    margin-left: 125px;
}

.informe {
    justify-content: center;
    align-items: center;
    display: flex;
}

.informe h1 {
    margin-right: 70px;
    color: rgb(232, 225, 225);
    margin-top: 40px;
}

.descricao {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-right: 300px;
}

.descricao p {
    font-weight: bold;
    color: #ccc;
    margin-top: -10px;
    margin-bottom: 30px;
}



.campo {
    justify-content: center;
    align-items: center;
    display: flex;

}

.campo input {
    width: 440px;
    height: 55px;
    border-radius: 5px;
    border: 1px solid rgba(150, 150, 150, 50%);
    background-color: rgb(21, 19, 19);
    font-size: 16px;

}

.botao {
    justify-content: center;
    align-items: center;
    display: flex;
}

.botao button {
    margin-top: 15px;
    width: 440px;
    margin-right: 6px;
    height: 48px;
    border-radius: 5px;
    background-color: rgb(234, 18, 18);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-left: 5px;
}

.ajuda {
    justify-content: center;
    align-items: center;
    display: flex;
}

.ajuda p {
    margin-right: 380px;
    color: rgb(227, 220, 220);
    margin-top: 40px;

}

.ajuda a {
    text-decoration: none;
}

.ajuda img {
    width: 10px;
}


.final {
    justify-content: center;
    align-items: center;
    display: flex;
}

.final p {
    font-size: 14px;
    color: gray;
    margin-right: 40px;
    margin-top: 20px;
}

footer {
    background-color: rgb(26, 25, 25);
    padding: 40px 40px;
    color: white;
    margin-top: 200px;
}

.duvidas {
    justify-content: center;
    align-items: center;
    display: flex;
}

.duvidas p {
    margin-right: 600px;
    color: #ccc;
}

.links {
    flex-direction: row;
    display: flex;
    gap: 140px;
    margin-left: 110px;
    font-size: 14px;
}

.links a {
    color: #ccc;

}

.links2 {
    flex-direction: row;
    display: flex;
    gap: 120px;
    margin-left: 110px;
    font-size: 14px;
}

.links2 a {
    color: #ccc;
}

.idioma {
    margin-top: 20px;
    margin-left: 110px;
    border: 1px solid white;
    width: 200px;
    height: 30px;
    padding: 2px 2px 2px 2px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 8px;
}

.linha {
    background-color: red;
}